{
  "branches": ['v+([0-9])?(.{+([0-9]),x}).x', 'main', {name: 'cdk', prerelease: true}],
  "plugins": [
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "mainTemplate": "{{> header}}\n\n- [View template](https://superwerker-releases.s3.amazonaws.com/{{version}}/templates/superwerker.template.yaml)\n- [Quick install](https://console.aws.amazon.com/cloudformation/home#/stacks/quickcreate?stackName=superwerker&templateURL=https://superwerker-releases.s3.amazonaws.com/{{version}}/templates/superwerker.template.yaml)\n- [Update instructions](https://github.com/superwerker/superwerker#how-do-i-receive-updates)\n\n{{#each commitGroups}}\n\n{{#if title}}\n### {{title}}\n\n{{/if}}\n{{#each commits}}\n{{> commit root=@root}}\n{{/each}}\n{{/each}}\n\n{{> footer}}\n"
        }
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
