
name: Branch Deployments

on:
  push:
    branches: ['*']

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: Branch name
      run: echo running on branch ${GITHUB_REF##*/}

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Version the templates
      shell: bash
      run: scripts/versioning.sh ${{ steps.extract_branch.outputs.branch }}
      id: version_templates

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ vars.AWS_DEPLOY_ROLE }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Upload s3
      shell: bash
      run: aws s3 sync templates/ s3://${{ vars.AWS_S3_BUCKET }}/${{ steps.extract_branch.outputs.branch }}/templates/ --delete
