name: Lint CloudFormation Templates

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: cfn-lint

      uses: scottbrenner/cfn-lint-action@v2
      with:
        command: "cfn-lint templates/*.yaml"
