name: Build and test
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  workflow_dispatch:
    inputs:
      superwerker-region:
        description: 'The region to deploy superwerker to'
        required: true
        type: choice
        options:
        - ap-northeast-1
        - ap-northeast-2
        - ap-south-1
        - ap-southeast-1
        - ap-southeast-2
        - ca-central-1
        - eu-central-1
        - eu-north-1
        - eu-west-1
        - eu-west-2
        - eu-west-3
        - sa-east-1
        - us-east-1
        - us-east-2
        - us-west-2
      update-from-latest-release:
        description: 'Check the box for TRUE if the installation shall be updated from the last release version, leave it for FALSE (default) if it shall be fresh superwerker installation'
        required: true
        type: boolean
        default: false
# the defaults
env:
  SUPERWERKER_REGION: eu-central-1
  UPDATE_FROM_LATEST_RELEASE: false
jobs:
  pr-conventions:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: set up node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: check PR title
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: deepakputhraya/action-pr-title@master
        with:
          allowed_prefixes: 'build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test'
      - name: check commit messages
        if: ${{ (github.event_name != 'workflow_dispatch') && (github.ref != 'refs/heads/main') }}
        run: |
          npm install
          npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
        working-directory: cdk

  test:
    runs-on: ubuntu-latest
    needs: pr-conventions
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: set up node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install dependencies
        run: yarn install
        working-directory: cdk
      - name: run tests
        run: yarn test
        working-directory: cdk


