name: Release

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Bounce version and create git tags
      uses: cycjimmy/semantic-release-action@v3
      id: semantic
      with:
        extra_plugins: |
          @semantic-release/git
          @semantic-release/changelog
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and publish 
      if: steps.semantic.outputs.new_release_published == 'true'
      run: |
        pip install cfn-flip
        yarn
        yarn test
        yarn synth
        yarn publish-assets
        cfn-flip cdk.out/SuperwerkerStack.template.json cdk.out/superwerker.template.yaml
        aws s3 cp cdk.out/superwerker.template.yaml s3://superwerker-releases/${SUPERWERKER_VERSION}/templates/
        aws s3 cp cdk.out/SuperwerkerStack.template.json s3://superwerker-releases/${SUPERWERKER_VERSION}/templates/
      env:
        SUPERWERKER_VERSION: ${{ steps.semantic.outputs.new_release_version }}
        AWS_DEFAULT_REGION: eu-central-1
        AWS_ACCESS_KEY_ID: ${{ secrets.RELEASES_AWS_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.RELEASES_AWS_SECRET_ACCESS_KEY }}
      shell: bash
      working-directory: cdk

