name: Release

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: eu-central-1
        role-to-assume: arn:aws:iam::824014778649:role/gh-actions-superwerker-release

    - name: Bounce version and create git tags
      uses: cycjimmy/semantic-release-action@v3
      id: semantic
      with:
        extra_plugins: |
          @semantic-release/git
          @semantic-release/changelog
          conventional-changelog-conventionalcommits
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and publish
      if: steps.semantic.outputs.new_release_published == 'true'
      run: |
        pip install cfn-flip
        yarn
        yarn test
        yarn synth
        yarn publish-assets
        cfn-flip cdk.out/SuperwerkerStack.template.json cdk.out/superwerker.template.yaml
        aws s3 cp cdk.out/superwerker.template.yaml s3://superwerker-releases/${SUPERWERKER_VERSION}/templates/
        aws s3 cp cdk.out/SuperwerkerStack.template.json s3://superwerker-releases/${SUPERWERKER_VERSION}/templates/
      env:
        SUPERWERKER_VERSION: ${{ steps.semantic.outputs.new_release_version }}
        AWS_DEFAULT_REGION: eu-central-1
      shell: bash
      working-directory: cdk

